* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('image/img-1.jpg');
    background-size: cover;
    color: aliceblue;
}

main {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    padding: 2rem;
}

.generator {
    width: 100%;
    max-width: 640px;
    padding: 2rem 1rem;
    background-color: rgba(17, 30, 75, 0.8);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 1rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

input:not([type="checkbox"]),
button {
    appearance: none;
    outline: none;
    border: none;
    background: none;
}

input[type="checkbox"] {
    cursor: pointer;
}
